.flex-usuario {
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.box-usuario {
    width: 200px;
    height: 150px;
    background: #609;
    padding: 10px;
    cursor: pointer;
}

    .box-usuario h3 {
        color: #ffff;
    }

.before-edit::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    height: 24px;
    width: 24px;
    background-image: url(../img/edit.svg);
}

.before-addUser::before {
    content: "";
    display: inline-block;
    margin-right: 12px;
    height: 24px;
    width: 24px;
    background-image: url(../img/AddUser.svg);
}

.grid-user {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.content-btn-left {
    justify-content: left;
}

.container-pop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.pop-user {
    display: flex;
    width: 500px;
    height: 400px;
    background: #ffff;
}

.pop-title {
    background: #609;
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 60px;
    align-items: center;
    width: inherit;
    color: #ffF;
}

.title-pop {
    padding: 0px 20px;
}

.x-pop {
    cursor: pointer;
    text-align: -webkit-center;
    padding: 0px 20px;
}