@model FireDesk.Models.ViewModels.UsuarioViewModel

<h2 id="h01-chamados">Gerenciamento de usuários</h2>
<div class="div-flex flex-usuario">
    <button onclick="" class="btn-nvc btn-geral before-addUser">Novo Usuário</button>
    <button onclick="" class="btn-nvc btn-geral before-edit">Editar Usuário</button>
    <button onclick="" class="btn-nvc btn-geral before-add">Lista de Usuários</button>
</div>
<div class="list-content">
    <div class="grid-list">
        <form action="/Actions" method="get">
            <div class="items-display">
                <div class="custom-checkbox">
                    <label>
                        <input type="checkbox" id="checkbox-todos">
                        <span>
                            Selecionar todos da página
                        </span>
                    </label>
                </div>

                <input class="input-geral input-pesquisa" id="Termo" name="Termo" placeholder="Informe um ID, nome de usuário ou email" type="text" value="">
                <button class="btn-nvc btn-geral before-filter" type="submit">Filtrar</button>

            </div>
        </form>

    </div>
</div>
<div id="desk-list">
    @Html.Partial("Usuarios_view")
</div>
