@model FireDesk.Models.ViewModels.UsuarioViewModel

<h2 id="h01-chamados">Gerenciamento de usuários</h2>
<div class="div-flex flex-usuario">
    <button onclick="mostrarModal()" class="btn-nvc btn-geral before-addUser">Novo Usuário</button>
    <button onclick="" class="btn-nvc btn-geral before-edit">Editar Usuário</button>
    <button onclick="" class="btn-nvc btn-geral before-add">Lista de Usuários</button>
</div>
<div class="list-content">
    <div class="grid-list">
        @using (Html.BeginForm("Index", "Usuario", FormMethod.Get))
        {
            <div class="items-display">
                <div class="custom-checkbox">
                    <label>
                        <input type="checkbox" id="checkbox-todos">
                        <span>
                            Selecionar todos da página
                        </span>
                    </label>
                </div>

                <input class="input-geral input-pesquisa" id="Termo" name="Termo" placeholder="Informe um ID, nome de usuário ou email" type="text" value="">
                <button class="btn-nvc btn-geral before-filter" type="submit">Filtrar</button>

            </div>

        }

    </div>

    <div id="modalOverlay" class="modal-overlay" style="display:none;">
        <div id="modal" class="container-pop">
            <div class="pop-user">
                <div class="pop-title">
                    <div class="title-pop">
                        <h2>Criar novo usuario</h2>
                    </div>
                    <div class="x-pop">
                        <img onclick="fecharModal()" src="/img/closeX.svg">
                    </div>
                </div>
                <div class="form-chamados">
                    <form id="usuarios">
                        <label for="Nome">Nome Completo*:</label>
                        <input type="text" class="input-geral input-chamados" id="Nome" name="UsuarioName" maxlength="100" required>
                        <label for="Email">Email*:</label>
                        <input type="text" class="input-geral input-chamados" id="Email" name="UsuarioEmail" maxlength="100" required>
                        <label for="CPF">CPF*:</label>
                        <input type="text" class="input-geral input-chamados" id="cpf" placeholder="CPF" maxlength="14" oninput="mascaraCPF(this)" name="UsuarioCPF" required>
                        <p id="mensagem"></p>
                        <div class="tipo-user">
                            <div class="toggle">
                                <span id="ativoInativo">Inativo</span>
                                <input type="checkbox" id="foo" name="Status">
                                <label for="foo"></label>
                            </div>
                            @* //select *@
                            <div id="categoria-select">
                                <input type="checkbox" id="option-select" required="">
                                <div id="btn-select">
                                    <div id="selected-value">Tipo de usuário</div>
                                    <div id="chevrons">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="chevron-down" class="lucide lucide-chevron-down"><path d="m6 9 6 6 6-6"></path></svg>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-lucide="chevron-up" class="lucide lucide-chevron-up"><path d="m18 15-6-6-6 6"></path></svg>
                                    </div>
                                </div>
                                <div id="cx-lista">
                                    <ul id="ul-options">
                                        @foreach (var items in ViewBag.tipouser)
                                        {
                                        <li class="li-option">
                                            <input type="radio" name="Tipo" value="@items" data-label="@items" />
                                            <span class="label">@items</span>
                                            <i data-lucide="check"></i>
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="desk-list">
        @Html.Partial("Usuarios_view")
    </div>

    @section Scripts {
        <script src="~/js/Usuarios/FormUsuario.js"></script>
        <script src="~/js/ValidarCpf/validarCpf.js"></script>
    }
